@CHARSET "UTF-8";
/* * * * * * * * * * * * *
 * © 2018 Joni Puljujärvi
 */


.round, .back-link {display: none;}

aside.icons {
    width: 100vw;
    font-size: 20vw;
    margin: 2vmin;
}

footer .icons {
    display: none;
}

main header {
    font-size: 3vw;
}

article, noscript {
    float: left;
    padding: 1em;
    border-width: 0.25em;
    z-index: 1;
}

#about {
    margin: 0.25em;
}

#about picture {
    margin: 1em 0;
    display: inline-block;
    border-width: 0.2em;
    border-radius: 0.1em;
}

body {
    background-color: #000000;
}

#background {
    background-size: cover;
    z-index: -1;
    height: 100vh;
}

#landscape {
    float: left;
    width: 100%;
    min-height: 65vw;
    padding: 5vw 0;
    background-size: cover;
    background-position: center center;
    margin-top: 1em;
}

#contact {
    float: none;
    margin: 0 0.25em;
    width: auto;
}

main footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000000;
    opacity: 0.75;
}

main footer, main ~ article:first-of-type {
    box-shadow:  0 -0.5rem 0.75em #000000;
}

main ~ article {
    box-sizing: border-box;
    width: 100%;
}

#validhtml {
    margin: 1rem auto;
    max-width: 100%;
}

body > *:last-child {
    padding-bottom: 4em;
}

article > ul {
    text-align: left;
}