@CHARSET "UTF-8";
/* * * * * * * * * * * * *
 * © 2018 Joni Puljujärvi
 */


/* General typography */

body {
    font-family: "Alegreya", serif;
}



/* Headers */

h1, h2 {
    text-align: center;
    font-weight: normal;
    font-variant: small-caps;
}

h1 {
    font-size: 7.62rem;
}

h2 {
    font-size: 3.33rem;
}

h3 {
    font-size: 2.5em;
    border-bottom: 0.05rem solid;
    margin-bottom: 1rem;
}

h3:not(:first-child) {
    margin-top: 2rem;
}

h4 {
    font-size: 1.5em;
    margin-top: 1em;
}



/* Paragraphs */

p {
    font-size: 1em;
    line-height: 1.5em;
    text-indent: 2em;
    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
}

article p:first-of-type,
h3 + p, h4 + p,
.noindent {
    text-indent: 0;
}

#about p:first-of-type::first-letter {
    font-family: "Alegreya", serif;
    font-size: 7.8em;
    display: inline-block;
    float: left;
    font-weight: bold;
    vertical-align: middle;
    line-height: 1em;
    padding-right: 0.15rem;
    margin-top: -1.2rem;
}

#about p:first-of-type::first-line {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.2em;
}

article {
    text-align: justify;
}

footer p {
    text-align: center;
}



/* Lists and stuff */

ul {
    list-style-type: square;
}

blockquote {
    padding: 1em 1.5em 1em 3em;
    position: relative;
    text-align: justify;
}

blockquote::before {
    content: "“";
    display: block;
    font-size: 8em;
    left: 0em;
    opacity: 0.70;
    position: absolute;
    top: -0.2em;
}

figure {
    text-align: center;
}

figcaption {
    font-size: 90%;
    font-style: italic;
    text-align: inherit;
}



/* Links */

a {
    text-decoration: underline;
}

a:hover, a:active {
    text-decoration: none;
}

